<div class="media">
  <div class="media-body">
    <table>
      <tbody>
        <tr>
          <td><h1>Cash</h1></td>
          <td><h3 class="amount"><%= number_to_currency(@all_transactions.where(type_of_transaction: "Income").sum(:amount), precision: 0) %></h3></td>
        </tr>
        <tr>
          <td><h1>Expenses</h1></td>
          <td><h3 class="amount"><%= number_to_currency(@cashflow_transactions.where(category: "Cash").sum(:amount), precision: 0) %></h3></td>
        </tr>
        <tr class="balance">
          <td><h3>Surplus/Deficit</h3></td>
          <td><h3 class="amount"><%= number_to_currency(@all_transactions.where(type_of_transaction: "Income").sum(:amount) - @all_transactions.where(category: "Cash").sum(:amount), precision: 0) %></h3></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
<p><%= link_to 'New Transaction', new_transaction_path %></p>
<p><%= link_to 'Back', root_path %><p>
