<h1> All Transactions</h1>
<%= form_tag transactions_path, method: :get do %>
  <%= text_field_tag 'search[date_from]', @search.date_from %>
  <%= text_field_tag 'search[date_to]', @search.date_to %>
  <%= submit_tag 'Search' %>
<% end %>

<% @transactions.each do |t| %>
  <p> <%= t.date %> </p>
  <p> <%= t.amount %></p>
  <p> <%= t.type_of_transaction %></p>
  <p> <%= t.category %></p>
<% end %>

<h2>Total Cash Spent</h2>
<h3><%= number_to_currency(@transactions.where(type_of_transaction: "Expense").sum(:amount)) %></h3>

<h2>Available</h2>
<h3><%= number_to_currency(1_166_666 - @transactions.where(type_of_transaction: "Expense").sum(:amount)) %></h3>

<h2>Net Worth</h2>
<h3><%= number_to_currency(Transaction.sum(:amount)) %></h3>

<h2><%= link_to 'Back', root_path %></h2>
