<h1> All Transactions</h1>
<%= form_tag transactions_path, method: :get do %>
  <%= text_field_tag 'search[date_from]', @search.date_from %>
  <%= text_field_tag 'search[date_to]', @search.date_to %>
  <%= submit_tag 'Search' %>
<% end %>

<% @transactions.each do |t| %>
  <p> <%= t.date %> </p>
  <p> <%= t.amount %>
    <span><%= link_to 'Edit', edit_transaction_path(t) %></span> |
    <span><%= link_to 'Delete', t, method: :delete %></span>
  </p>
  <p> <%= t.type_of_transaction %></p>
  <p> <%= t.category %></p>
<% end %>

<h2><%= link_to 'New Transaction', new_transaction_path %></h2>
<h2><%= link_to 'Back', root_path %></h2>
