<h1> All Transactions</h1>
<%= form_tag transactions_path, method: :get do %>
  <%= text_field_tag 'search[date_from]', @search.date_from %>
  <%= text_field_tag 'search[date_to]', @search.date_to %>
  <%= submit_tag 'Search' %>
<% end %>

<% @transactions.each do |t| %>
  <p> <%= t.date %> </p>
  <p> <%= t.amount %></p>
  <p> <%= t.type_of_transaction %></p>
  <p> <%= t.category %></p>
<% end %>

<h2>Subtotal Cash</h2>
<h3><%= @transactions.where(type_of_transaction: "Cash").sum(:amount) %></h3>

<h2>Subtotal Credit</h2>
<h3><%= @transactions.where(type_of_transaction: "Credit").sum(:amount) %></h3>

<h2>Total</h2>
<h3><%= @transactions.sum(:amount) %></h3>
